Ori/Update comment sent copy.json
{
  "name": "Update comment sent copy",
  "nodes": [
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "appBJpoCIlUHEYi5J",
          "mode": "list",
          "cachedResultName": "XM Cyber",
          "cachedResultUrl": "https://airtable.com/appBJpoCIlUHEYi5J"
        },
        "table": {
          "__rl": true,
          "value": "tblwGw31Dk1Abo4HO",
          "mode": "list",
          "cachedResultName": "Comment",
          "cachedResultUrl": "https://airtable.com/appiyP6WXHWosRkar/tblwGw31Dk1Abo4HO"
        },
        "id": "={{ $json.query.recordId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -336,
        16
      ],
      "id": "f68c3355-0753-4ffd-9a0d-2b9ec0eb23cd",
      "name": "Airtable4",
      "credentials": {
        "airtableTokenApi": {
          "id": "BVBuC2xFLJObM8rL",
          "name": "Master Token"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appBJpoCIlUHEYi5J",
          "mode": "list",
          "cachedResultName": "XM Cyber",
          "cachedResultUrl": "https://airtable.com/appBJpoCIlUHEYi5J"
        },
        "table": {
          "__rl": true,
          "value": "tblnFh65ysgWe28lB",
          "mode": "list",
          "cachedResultName": "Reddit Comments Tracking",
          "cachedResultUrl": "https://airtable.com/appBJpoCIlUHEYi5J/tblnFh65ysgWe28lB"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "keyword": "={{ $json.keyword }}",
            "Refined Version": "={{ $json['Refined Version'] }}",
            "AI Suggested Comment": "={{ $json.Comment }}",
            "Comment to": "={{ $json['Comment to'] }}",
            "alert": "={{ $json.alert }}",
            "Location depth": "={{ $json['Location depth'] }}",
            "Location Reasoning": "={{ $json['Location Reasoning'] }}",
            "Comment Approach": "={{ $json['Comment Approach'] }}",
            "Perspective Push": "={{ $json['Perspective Push'] }}",
            "Brand Mention": "={{ $json['Brand Mention'] }}",
            "Title": "={{ $json.Title }}",
            "Post": "={{ $json.Post }}",
            "Comments and Replies": "={{ $json['Comments and Replies'] }}",
            "url": "={{ $json.url }}",
            "tag": "={{ $json.tag }}",
            "reasoning": "={{ $json.reasoning }}",
            "relevance": "={{ $json.relevance }}",
            "quality": "={{ $json.quality }}",
            "strategic": "={{ $json.strategic }}",
            "composite": "={{ $json.composite }}",
            "intent": "={{ $json.intent }}",
            "created": "={{ $json.created }}",
            "subreddit": "={{ $json.subreddit }}",
            "author": "={{ $json.author }}",
            "supabase_item_id": "={{ $json.supabase_item_id }}",
            "Persona": "={{ $json.Persona }}",
            "score": 0,
            "post ups": 0,
            "post downs": 0,
            "ups downs ratio": 0
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "keyword",
              "displayName": "keyword",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Refined Version",
              "displayName": "Refined Version",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "AI Suggested Comment",
              "displayName": "AI Suggested Comment",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Comment to",
              "displayName": "Comment to",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "alert",
              "displayName": "alert",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "true",
                  "value": "true"
                },
                {
                  "name": "false",
                  "value": "false"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Location depth",
              "displayName": "Location depth",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Location Reasoning",
              "displayName": "Location Reasoning",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Comment Approach",
              "displayName": "Comment Approach",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "personal_experience",
                  "value": "personal_experience"
                },
                {
                  "name": "data_research",
                  "value": "data_research"
                },
                {
                  "name": "contrarian_perspective",
                  "value": "contrarian_perspective"
                },
                {
                  "name": "actionable_framework",
                  "value": "actionable_framework"
                },
                {
                  "name": "collaborative_reflection",
                  "value": "collaborative_reflection"
                },
                {
                  "name": "honest_vulnerability",
                  "value": "honest_vulnerability"
                },
                {
                  "name": "gesource_recommendation",
                  "value": "gesource_recommendation"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Perspective Push",
              "displayName": "Perspective Push",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "hard",
                  "value": "hard"
                },
                {
                  "name": "medium",
                  "value": "medium"
                },
                {
                  "name": "low",
                  "value": "low"
                },
                {
                  "name": "undetected",
                  "value": "undetected"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Brand Mention",
              "displayName": "Brand Mention",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "true",
                  "value": "true"
                },
                {
                  "name": "false",
                  "value": "false"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Post",
              "displayName": "Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Comments and Replies",
              "displayName": "Comments and Replies",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Thread",
              "displayName": "Thread",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "tag",
              "displayName": "tag",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "engage",
                  "value": "engage"
                },
                {
                  "name": "monitor",
                  "value": "monitor"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "reasoning",
              "displayName": "reasoning",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "relevance",
              "displayName": "relevance",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "quality",
              "displayName": "quality",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "strategic",
              "displayName": "strategic",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "composite",
              "displayName": "composite",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "intent",
              "displayName": "intent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "help_seeking",
                  "value": "help_seeking"
                },
                {
                  "name": "opinion_forming",
                  "value": "opinion_forming"
                },
                {
                  "name": "announcement",
                  "value": "announcement"
                },
                {
                  "name": "comparison",
                  "value": "comparison"
                },
                {
                  "name": "venting",
                  "value": "venting"
                },
                {
                  "name": "other",
                  "value": "other"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Content (containing keyword)",
              "displayName": "Content (containing keyword)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "content type",
              "displayName": "content type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "",
                  "value": ""
                },
                {
                  "name": "post",
                  "value": "post"
                },
                {
                  "name": "comment",
                  "value": "comment"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "permalink",
              "displayName": "permalink",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "created",
              "displayName": "created",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "subreddit",
              "displayName": "subreddit",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "r/cybersecurity",
                  "value": "r/cybersecurity"
                },
                {
                  "name": "r/sysadmin",
                  "value": "r/sysadmin"
                },
                {
                  "name": "r/AskNetsec",
                  "value": "r/AskNetsec"
                },
                {
                  "name": "r/Pentesting",
                  "value": "r/Pentesting"
                },
                {
                  "name": "r/ansible",
                  "value": "r/ansible"
                },
                {
                  "name": "r/devops",
                  "value": "r/devops"
                },
                {
                  "name": "r/linuxadmin",
                  "value": "r/linuxadmin"
                },
                {
                  "name": "r/r/hacking",
                  "value": "r/r/hacking"
                },
                {
                  "name": "r/aws",
                  "value": "r/aws"
                },
                {
                  "name": "r/AZURE",
                  "value": "r/AZURE"
                },
                {
                  "name": "r/devsecops",
                  "value": "r/devsecops"
                },
                {
                  "name": "r/digitalforensics",
                  "value": "r/digitalforensics"
                },
                {
                  "name": "r/BizTechNews",
                  "value": "r/BizTechNews"
                },
                {
                  "name": "r/entra",
                  "value": "r/entra"
                },
                {
                  "name": "r/codereview",
                  "value": "r/codereview"
                },
                {
                  "name": "r/MicrosoftFabric",
                  "value": "r/MicrosoftFabric"
                },
                {
                  "name": "r/AIAgentsInAction",
                  "value": "r/AIAgentsInAction"
                },
                {
                  "name": "r/secithubcommunity",
                  "value": "r/secithubcommunity"
                },
                {
                  "name": "r/GarysEconomics",
                  "value": "r/GarysEconomics"
                },
                {
                  "name": "r/SecOpsDaily",
                  "value": "r/SecOpsDaily"
                },
                {
                  "name": "r/Universitaly",
                  "value": "r/Universitaly"
                },
                {
                  "name": "r/opsec",
                  "value": "r/opsec"
                },
                {
                  "name": "r/PureVPNcom",
                  "value": "r/PureVPNcom"
                },
                {
                  "name": "r/punejobs",
                  "value": "r/punejobs"
                },
                {
                  "name": "r/ClaudeCode",
                  "value": "r/ClaudeCode"
                },
                {
                  "name": "r/NoSpinMedia",
                  "value": "r/NoSpinMedia"
                },
                {
                  "name": "r/conspiracy",
                  "value": "r/conspiracy"
                },
                {
                  "name": "r/grok",
                  "value": "r/grok"
                },
                {
                  "name": "r/LocalLLaMA",
                  "value": "r/LocalLLaMA"
                },
                {
                  "name": "r/opnsense",
                  "value": "r/opnsense"
                },
                {
                  "name": "r/Dynamics365",
                  "value": "r/Dynamics365"
                },
                {
                  "name": "r/singularity",
                  "value": "r/singularity"
                },
                {
                  "name": "r/aiagents",
                  "value": "r/aiagents"
                },
                {
                  "name": "r/oscp",
                  "value": "r/oscp"
                },
                {
                  "name": "r/netsec",
                  "value": "r/netsec"
                },
                {
                  "name": "r/Intune",
                  "value": "r/Intune"
                },
                {
                  "name": "r/Startup_Ideas",
                  "value": "r/Startup_Ideas"
                },
                {
                  "name": "r/softwaredevelopment",
                  "value": "r/softwaredevelopment"
                },
                {
                  "name": "r/kubernetes",
                  "value": "r/kubernetes"
                },
                {
                  "name": "r/ChatGPTPromptGenius",
                  "value": "r/ChatGPTPromptGenius"
                },
                {
                  "name": "r/Entrepreneur",
                  "value": "r/Entrepreneur"
                },
                {
                  "name": "r/platform_engineering",
                  "value": "r/platform_engineering"
                },
                {
                  "name": "r/ArtificialInteligence",
                  "value": "r/ArtificialInteligence"
                },
                {
                  "name": "r/FresherTechJobsIndia",
                  "value": "r/FresherTechJobsIndia"
                },
                {
                  "name": "r/sysadminresumes",
                  "value": "r/sysadminresumes"
                },
                {
                  "name": "r/Rainbow6",
                  "value": "r/Rainbow6"
                },
                {
                  "name": "r/websecurity",
                  "value": "r/websecurity"
                },
                {
                  "name": "r/pwnhub",
                  "value": "r/pwnhub"
                },
                {
                  "name": "r/Malware",
                  "value": "r/Malware"
                },
                {
                  "name": "r/healthIT",
                  "value": "r/healthIT"
                },
                {
                  "name": "r/blueteamsec",
                  "value": "r/blueteamsec"
                },
                {
                  "name": "r/redteamsec",
                  "value": "r/redteamsec"
                },
                {
                  "name": "r/Infosec",
                  "value": "r/Infosec"
                },
                {
                  "name": "r//r/artificial/",
                  "value": "r//r/artificial/"
                },
                {
                  "name": "r/HowToHack",
                  "value": "r/HowToHack"
                },
                {
                  "name": "r/ciso",
                  "value": "r/ciso"
                },
                {
                  "name": "r/InfoSecNews",
                  "value": "r/InfoSecNews"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "author",
              "displayName": "author",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "post_id",
              "displayName": "post_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "post ups",
              "displayName": "post ups",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "post downs",
              "displayName": "post downs",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ups downs ratio",
              "displayName": "ups downs ratio",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "supabase_item_id",
              "displayName": "supabase_item_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Persona",
              "displayName": "Persona",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "ThorneMarcus92",
                  "value": "ThorneMarcus92"
                },
                {
                  "name": "d-wreck-w12",
                  "value": "d-wreck-w12"
                },
                {
                  "name": "leon_grant10",
                  "value": "leon_grant10"
                },
                {
                  "name": "emma_richardson",
                  "value": "emma_richardson"
                },
                {
                  "name": "maurice_mcmahon",
                  "value": "maurice_mcmahon"
                },
                {
                  "name": "KenSawyer",
                  "value": "KenSawyer"
                },
                {
                  "name": "",
                  "value": ""
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "comment_sent",
              "displayName": "comment_sent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "comments",
              "displayName": "comments",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        80,
        -112
      ],
      "id": "81a8c74c-af46-4d74-9263-01a8bfafd7cb",
      "name": "Airtable7",
      "credentials": {
        "airtableTokenApi": {
          "id": "BVBuC2xFLJObM8rL",
          "name": "Master Token"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteRecord",
        "base": {
          "__rl": true,
          "value": "appBJpoCIlUHEYi5J",
          "mode": "list",
          "cachedResultName": "XM Cyber",
          "cachedResultUrl": "https://airtable.com/appBJpoCIlUHEYi5J"
        },
        "table": {
          "__rl": true,
          "value": "tblUWDtAq1bhpIMmD",
          "mode": "list",
          "cachedResultName": "Reddit Comments",
          "cachedResultUrl": "https://airtable.com/appBJpoCIlUHEYi5J/tblUWDtAq1bhpIMmD"
        },
        "id": "={{ $('Airtable4').item.json.id }}"
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        272,
        80
      ],
      "id": "29d1c7a2-808a-4706-92ac-54960a48eafa",
      "name": "Airtable10",
      "credentials": {
        "airtableTokenApi": {
          "id": "BVBuC2xFLJObM8rL",
          "name": "Master Token"
        }
      }
    },
    {
      "parameters": {
        "path": "b2996baf-d515-4614-ab9a-e8c286d47150",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -560,
        16
      ],
      "id": "efb8ea87-de9e-4ecf-b9b2-3cbbdfd3814a",
      "name": "Webhook",
      "webhookId": "b2996baf-d515-4614-ab9a-e8c286d47150"
    }
  ],
  "pinData": {},
  "connections": {
    "Airtable4": {
      "main": [
        [
          {
            "node": "Airtable7",
            "type": "main",
            "index": 0
          },
          {
            "node": "Airtable10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Airtable4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "b1ead18e-3517-4606-b643-bf79e81a12e7",
  "meta": {
    "instanceId": "cad99e0db3a98e24bdcf9db93b2ab3cd4459da1bfdce7b2dae5c1de9fc4aaa3b"
  },
  "id": "VpUufPfuUPqu5x17",
  "tags": [
    {
      "updatedAt": "2026-04-23T13:44:34.287Z",
      "createdAt": "2026-04-23T13:44:34.287Z",
      "id": "gES85Aiw3NFcfOin",
      "name": "to transfer"
    }
  ]
}